@{
    ViewBag.Title = "Home Page";
}

<body>


    @*<aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(images/khaptad.JPG);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner text-center">

                                    <h1>Khaptad</h1>
                                    <h2>The untouched land.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/Rara.JPG);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h2>Rara lake</h2>
                                    <h2>Place where heaven meets earth.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/ABC.jpeg);">
                    <div class="overlay"></div>
                    <div class="container-fluids">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>Annapurna Region</h1>
                                    <h2>The beauty within</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(images/everest.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>Everest Region</h1>
                                    <h2>Top of the world.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                <li style="background-image: url(images/pokhara.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner text-center">
                                    <h1>Pokhara</h1>
                                    <h2>Best place to chill.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </aside>*@

    <div class="colorlib-tour colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>Popular Destination</h2>
                    <p>Nepal is a place with astonishing natural beauties and cultural sites. Nepal welcome every tourists with an open heart. </p>
                    <p>Come visit Nepal.</p>
                </div>
            </div>
        </div>
        <div class="tour-wrap">
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/Rara.JPG);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Rara</h2>
                    <span class="city">Mugu, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/khaptad.JPG);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Khaptad</h2>
                    <span class="city">Doti, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/ABC.jpeg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Annapurna Region</h2>
                    <span class="city">Annapurna, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/everest.jpg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Mt Everest</h2>
                    <span class="city">Solukhumbhu, Nepal</span>

                </span>

            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/Chitwan.jpg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Chitwan</h2>
                    <span class="city">Chitwan, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/pashupatinath.jpeg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Pashupatinath Temple</h2>
                    <span class="city">Kathmandu, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/pokhara.jpg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-emptyl"></i></span> 0 Reviews</p>
                    <h2>Pokhara</h2>
                    <span class="city">Pokhara, Nepal</span>

                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(images/Tilicho.jpg);">
                </div>
                <span class="desc">
                    <p class="star"><span><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span> 0 Reviews</p>
                    <h2>Tilicho</h2>
                    <span class="city">Manang, Nepal</span>

                </span>
            </a>

        </div>
    </div>







</body>